/*-- --------------------------- -->
<---            FONTS            -->
<--- --------------------------- -*/

@media only screen and (min-width: 0em) {
  // /* poppins-regular - latin */
  // @font-face {
  //   font-display: swap;
  //   font-family: 'Poppins';
  //   font-style: normal;
  //   font-weight: 400;
  //   src:
  //     url('./fonts/poppins-v20-latin-regular.woff2') forma('woff2'),
  //     url('./fonts/poppins-v20-latin-regular.woff') format('woff');
  // }

  // /* poppins-500 - latin */
  // @font-face {
  //   font-display: swap;
  //   font-family: 'Poppins';
  //   font-style: normal;
  //   font-weight: 500;
  //   src:
  //     url('./fonts/poppins-v20-latin-500.woff2') forma('woff2'),
  //     url('./fonts/poppins-v20-latin-500.woff') format('woff');
  // }

  // /* poppins-700 - latin */
  // @font-face {
  //   font-display: swap;
  //   font-family: 'Poppins';
  //   font-style: normal;
  //   font-weight: 700;
  //   src:
  //     url('./fonts/poppins-v20-latin-700.woff2') format('woff2'),
  //     url('./fonts/poppins-v20-latin-700.woff') format('woff');
  // }

  // /* poppins-900 - latin */
  // @font-face {
  //   font-display: swap;
  //   font-family: 'Poppins';
  //   font-style: normal;
  //   font-weight: 900;
  //   src:
  //     url('./fonts/poppins-v20-latin-900.woff2') format('woff2'),
  //     url('./fonts/poppins-v20-latin-900.woff') format('woff');
  // }}

}

/*-- --------------------------- -->
<---         Core Styles        -->
<--- --------------------------- -*/

@media only screen and (min-width: 0em) {

  *,
  *:before,
  *:after {
    text-underline-position: under;
    box-sizing: border-box;
    text-decoration: none;
    margin: 0;
    padding: 0;
    text-decoration: none;
    overflow-x: hidden;
    list-style: none;
    font-family: 'Poppins', Arial, Helvetica, Verdana;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    margin: 0;
    color: #1a1a1a;
  }


  p,
  li,
  a {
    font-size: 1em;
    line-height: 1.75;
    margin: 0;
    color: #1a1a1a;
  }

  button:hover,
  a:hover {
    cursor: pointer;
  }
}

@media only screen and (min-width: 48em) {}

@media only screen and (min-width: 64em) {}

@media only screen and (min-width: 1300px) {}