////////////////////////////
//       Variables        //
////////////////////////////

$box-shadow-color: rgba(63, 59, 81, 0.25);

$box-shadow: 1px 1px 3px $box-shadow-color,
    1px -1px 3px $box-shadow-color,
    -1px 1px 3px $box-shadow-color,
    -1px -1px 3px $box-shadow-color;

$box-shadow-color-hover: rgba(63, 59, 81, 0.5);

$box-shadow-hover: 1px 1px 3px $box-shadow-color-hover,
    1px -1px 3px $box-shadow-color-hover,
    -1px 1px 3px $box-shadow-color-hover,
    -1px -1px 3px $box-shadow-color-hover;

////////////////////////////
//      HOME - PAGE       //
////////////////////////////

@media screen and (min-width: 900px) {
    #header-index {
        background-image: url("./images/indexFull.webp");
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 100%;
        height: 100vw;
        position: relative;
    }

    .navbar-container {
        position: relative;
        max-width: 90%;
        margin: 0 auto;

        .navbar-logo {
            a {
                background-image: url('./images/logo-index.png');
                background-size: 20vw 8vw;
                background-repeat: no-repeat;
                position: absolute;
                top: max(25px, 2vw);
                left: 3vw;
                margin-top: 10px;
                width: 25vw;
                min-height: 8vw;
            }
        }

        .navbar-links {
            position: absolute;
            top: max(4vw, 35px);
            right: 3vw;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            margin-top: 10px;
            width: 50%;

            li {
                font-size: max(0.85rem, 1.25vw);

                a {
                    text-decoration: none;
                    color: white;
                    padding: 0.75vw 1.5vw;
                    text-shadow: 2px 2px 2px black;
                }
            }

            //-----------------------------//
            //      Navigation Menu        //
            //-----------------------------//

            .home {
                text-decoration: underline;
                text-underline-position: under;
                text-decoration-color: #38c6e5;
                text-decoration-thickness: 0.2vw;

                a {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: #38c6e5;
                    text-decoration-thickness: 0.2vw;

                    &:hover {
                        text-shadow: 1px 1px 5px #38c6e5;
                    }
                }
            }

            .about {
                a:hover {
                    text-shadow: 1px 1px 5px #7fd378;
                }

                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: #7fd378;
                    text-decoration-thickness: 0.2vw;
                }
            }

            .services {
                a:hover {
                    text-shadow: 1px 1px 5px #804dd4;
                }

                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: #804dd4;
                    text-decoration-thickness: 0.2vw;
                }
            }

            .blog {
                a:hover {
                    text-shadow: 1px 1px 5px #e38025;
                }

                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: #e38025;
                    text-decoration-thickness: 0.2vw;
                }
            }

            .contact {
                position: relative;

                a {
                    position: relative;
                    color: #000000;
                    z-index: 1;
                    background-color: #ffcc00;
                    border-radius: 7.5px;
                    box-shadow: $box-shadow;
                    text-shadow: none;

                    &:hover {
                        color: white;
                        text-decoration: none;
                        box-shadow: 1px 1px 25px rgba(135, 195, 223, 0.25);
                        text-shadow: 1px 1px 5px #3f3b51;
                    }
                }
            }
        }

        .hamburger {
            display: none;
        }
    }

    .header-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        top: calc(15vw + 50px);
        left: 8vw;
        width: 75vw;

        h1 {
            margin: 0;
            font-size: clamp(30px, 4vw, 40rem);
            width: 40%;
        }

        p {
            margin: 2vw 0 calc(3vw + 15px);
            font-size: clamp(16px, 1vw, 40rem);
            line-height: 2em;
            overflow-wrap: wrap;
            width: 35%;
        }

        .buttons {
            a:first-child {
                padding: 0.75vw 2vw;
                background-color: #ffcc00;
                border-radius: 7.5px;
                box-shadow: $box-shadow;
                color: black;
                text-decoration: none;
                margin-right: 15px;

                &:hover {
                    box-shadow: $box-shadow-hover;
                }
            }

            a:last-child {
                padding: 0.75vw 2vw;
                background-color: white;
                border-radius: 7.5px;
                color: black;
                text-decoration: none;
                box-shadow: $box-shadow;

                &:hover {
                    box-shadow: $box-shadow-hover;
                }
            }
        }
    }

    .navbar-container-mobile {
        display: none;
    }
}

@media screen and (max-width: 899px) {
    #header-index {
        background-image: url("./images/navbarBG-m2.png");
        background-size: 100% 125px;
        background-repeat: no-repeat;
        min-width: 100%;
        min-height: 400px;
        position: relative;
        overflow-x: hidden;
    }

    .navbar-container {

        .navbar-logo {
            a {
                background-image: url('./images/logo-w-index.png');
                background-size: 300px 100px;
                background-repeat: no-repeat;
                position: absolute;
                top: max(25px, 2vw);
                left: 5px;
                width: 300px;
                height: 100px;
                margin-top: -22px;
            }
        }

        .navbar-links {
            display: none;
        }

        .hamburger {
            position: absolute;
            right: 15px;
            top: 15px;
            float: right;
            padding: 15px;
            border-radius: 75%;
            // background-color: #e38025;
            cursor: pointer;

            &:hover {
                border: 1px white;
                background-color: #38C6E5;
            }

            div {
                width: 24px;
                height: 3px;
                margin: 4px 0;
                background-color: rgb(255, 255, 255);
            }

            div:nth-child(2) {
                width: 20px;
                margin-left: 4px;
            }

            div:nth-child(3) {
                width: 24px;
            }
        }
    }

    .navbar-container-mobile {
        width: 100vw;
        height: 100vh;
        background-color: rgba(14, 14, 14, 0.87);
        position: fixed;

        .navbar-mobile {
            width: calc(30px + 65vw);
            height: 100vh;
            left: 0;
            background-color: #3f3b51e0;
            float: right;
            list-style: none;

            li a {
                color: white;
            }
        }

    }

    .header-text {
        display: none;
    }
}