// ------------------------------
//  General CSS & Resets 
// ------------------------------
@media screen and (min-width: 0px) {
    * {
        margin: 0;
        padding: 0;
        list-style: none;
        text-decoration: none;
        box-sizing: border-box;
        font-family: "Poppins", Arial, Helvetica, Verdana;

    }

    .skip {
        position: absolute;
        top: 0;
        left: 0;
        opacity: 0;
        z-index: -1111111;
    }

    header {
        position: relative;
        max-width: 1920px;
        min-height: 400px;
        margin: 0 auto;
        overflow: visible;
    }

    .logo,
    .logo img,
    #navbar-links,
    #navbar-links li {
        transition: 0.3s ease;
    }

}

// ------------------------------
//  Navbar Background  
// ------------------------------
@media screen and (min-width: 0px) and (max-width: 849px) {
    .navbar-bg-container {
        position: absolute;
        right: 0;
        top: 0;

        img {
            width: 100vw;
            min-height: 175px;
            max-height: 200px;
        }
    }
}

@media screen and (min-width: 850px) {
    .navbar-bg-container {
        position: absolute;
        right: 0;
        top: 0;

        img {
            width: 65vw;
            max-width: 1300px;
        }
    }
}

// ------------------------------
//  Navbar Link Effects & Colors
// ------------------------------

@media screen and (min-width: 0px) and (max-width: 999px) {
    #navbar-links {
        position: relative;

        // ACTIVE (width: 100%)
        .home a::after {
            width: 100%;
            background-color: #38C6E5;
        }

        .home a:hover {
            color: #38C6E5;
            transition: 0.1s;
        }

        // ------------------
        .about a::after {
            background-color: #7fd378;
        }

        .about a:hover {
            color: #7fd378;
            transition: 0.1s;
        }

        // ------------------
        .services a::after {
            background-color: #804DD4;
        }

        .services a:hover {
            color: #804DD4;
            transition: 0.1s;
        }

        // ------------------
        .blog a::after {
            background-color: #D44D4D;
        }

        .blog a:hover {
            color: #D44D4D;
            transition: 0.1s;
        }
    }
}

@media screen and (min-width: 1000px) {

    #navbar-links a {
        position: relative;
    }

    #navbar-links a::after {
        content: '';
        position: absolute;
        left: 0;
        bottom: 5px;
        width: 0;
        height: 3px;
        background-color: #7fd378;
        transition: width 0.2s ease-in-out;
    }

    #navbar-links a:hover::after {
        width: 100%;
    }

    #navbar-links {
        position: relative;

        // ACTIVE (width: 100%)
        .home a::after {
            width: 100%;
            background-color: #38C6E5;
        }

        .home a:hover {
            color: #38C6E5;
            transition: 0.1s;
        }

        // ------------------
        .about a::after {
            background-color: #7fd378;
        }

        .about a:hover {
            color: #7fd378;
            transition: 0.1s;
        }

        // ------------------
        .services a::after {
            background-color: #804DD4;
        }

        .services a:hover {
            color: #804DD4;
            transition: 0.1s;
        }

        // ------------------
        .blog a::after {
            background-color: #D44D4D;
        }

        .blog a:hover {
            color: #D44D4D;
            transition: 0.1s;
        }

        .contact {
            a {
                color: black;
                border-radius: 7.5px;
                width: 150px;
                padding: 15px 30px;
                background-color: #fdcf14;
                transition: 0.2s;
            }

            a:hover {
                color: white;
                background-color: #fdcf14;
                transition: 0.2s;
            }
        }

        .contact a::after {
            width: 0;
            background-color: #F2C613;
        }
    }

}

// ------------------------------
//  Mobile Navbar Links
// ------------------------------

@media screen and (min-width: 0px) and (max-width: 999px) {
    nav {
        position: relative;
        z-index: 999;
    }

    #navbar-links {
        background-color: #3F3B51;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 65vw;
        max-width: 300px;
        height: 100vh;
        right: 0;
        width: 0;
        z-index: 999;
        transition: 0.4s;

        li {
            display: none;
            padding: 20px;
            margin: 7.5px;

            a {
                color: white;
            }
        }
    }

    #navbar-links.mobile-nav-active {
        background-color: #3F3B51;
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 65vw;
        max-width: 300px;
        right: 0;
        z-index: 999;
        transition: 0.4s;

        li {
            display: block;
            padding: 20px;
            margin: 10px;

            a {
                color: white;
            }
        }
    }

    #opacity-bg {
        display: none;
        height: 100vh;
        width: 100vw;
        transition: 0.3s;
    }

    #opacity-bg.opacity-active {
        display: block;
        z-index: 888;
        height: 100vh;
        width: 100vw;
        background-color: #3531482b;
        backdrop-filter: blur(3px);
        top: 0;
        left: 0;
    }
}

// ------------------------------
//  Logo & Nav Links Position
// ------------------------------
@media screen and (min-width: 0px) and (max-width: 499px) {
    .logo {
        position: absolute;
        padding: 0;
        margin: 0;
        left: 15px;
        top: 17px;

        img {
            width: 220px;
            height: 100%;
            object-fit: contain;
        }
    }
}

@media screen and (min-width: 500px) and (max-width: 999px) {
    .logo {
        position: absolute;
        left: 18px;
        top: 18px;

        img {
            width: 270px
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1199px) {
    .logo {
        position: absolute;
        left: 30px;
        top: 25px;

        img {
            width: 300px;
        }
    }

    #navbar-links {
        position: absolute;
        z-index: 5;
        top: 55px;
        right: 20px;
        display: flex;
        flex-direction: row;
        color: white;
        width: auto;
        height: auto;


        li {
            width: auto;
            margin: 0 20px;

            a {
                width: auto;
                color: white;
                font-weight: 500;
                font-size: 1.125em;
                padding: 10px 5px;

            }
        }
    }
}

@media screen and (min-width: 1200px) and (max-width: 1349px) {
    .logo {
        position: absolute;
        left: 38px;
        top: 38px;

        img {
            width: 300px;

        }
    }

    #navbar-links {
        position: absolute;
        z-index: 5;
        top: 65px;
        right: 25px;
        display: flex;
        flex-direction: row;
        color: white;
        width: auto;
        height: auto;

        li {
            width: auto;
            margin: 0 30px;

            a {
                width: auto;
                color: white;
                font-weight: 500;
                font-size: 1.125em;
                padding: 10px 5px;

            }
        }
    }
}

@media screen and (min-width: 1350px) and (max-width: 1499px) {
    .logo {
        position: absolute;
        left: 65px;
        top: 50px;

        img {
            width: 300PX;

        }
    }

    #navbar-links {
        position: absolute;
        z-index: 5;
        top: 80px;
        right: 40px;
        display: flex;
        flex-direction: row;
        color: white;
        width: auto;
        height: auto;


        li {
            width: auto;
            margin: 0 40px;

            a {
                width: auto;
                color: white;
                font-weight: 500;
                font-size: 1.125em;
                padding: 10px 5px;

            }
        }
    }
}

@media screen and (min-width: 1500px) {
    .logo {
        position: absolute;
        margin-left: 75px;
        top: 60px;

        img {
            width: 360px;
        }

    }

    #navbar-links {
        position: absolute;
        z-index: 5;
        top: 95px;
        right: 55px;
        display: flex;
        flex-direction: row;
        color: white;
        width: auto;
        height: auto;

        li {
            width: auto;
            margin: 0 50px;

            a {
                width: auto;
                color: white;
                font-weight: 500;
                font-size: 1.125em;
                padding: 10px 5px;

            }
        }
    }
}

// ------------------------------
//  Mobile Menu Button
// ------------------------------

@media screen and (min-width: 0px) {
    #menu-toggle-button {
        position: fixed;
        background-color: transparent;
        right: 27px;
        top: 29px;
        width: 30px;
        height: 27px;
        justify-content: center;
        align-items: center;
        border: none;
        z-index: 9999;

    }

    .menu-toggle {
        width: 30px;
        height: 25px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        cursor: pointer;
    }

    .line {
        height: 3px;
        background-color: white;
        transition: transform 0.5s;
        border-radius: 2px;
        opacity: 100%;
    }

    .active.line1 {
        transform: translate(-2px, 11px) rotate(225deg);
        width: 110%;
    }

    .active.line2 {
        transform-origin: center;
        transform: translate(-2px, 0%)rotate(-225deg);
        width: 110%;
    }

    .active.line3 {
        transform: translate(0%, -20px);
        opacity: 0%;
    }
}

@media screen and (min-width: 500px) and (max-width: 999px) {
    #menu-toggle-button {
        background-color: transparent;
        position: absolute;
        right: 34px;
        top: 34px;
        width: 30px;
        height: 27px;
        justify-content: center;
        align-items: center;
        border: none;
        // background-color: #804DD4;

    }

}

@media screen and (min-width: 1000px) {
    #menu-toggle-button {
        display: none;
    }
}