$box-shadow: 1px 1px 3px #3f3b5140,
    1px -1px 3px #3f3b5140,
    -1px 1px 3px #3f3b5140,
    -1px -1px 3px #3f3b5140;

@media only screen and (min-width: 0em) {
    .navbarBG {
        width: 100vw;
        height: 115px;
        margin-bottom: 15px;
    }

    nav {
        background-color: #353148;
        height: auto;

        .logo {
            position: absolute;
            background-image: url('./images/logo-index-white.png');
            background-repeat: no-repeat;
            top: 8px;
            left: 5px;
            background-size: 250px 77px;
            height: 85px;
            min-width: 205px;
        }

        #navbar-links {
            position: fixed;
            z-index: 999;
            right: 0;
            top: 0;
            width: 0; //225px on open in JS
            height: 100vh;
            background-color: #353148;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            transition: width 0.3s;

            li {
                width: 100%;
                display: flex;
                justify-content: center;
                margin: 15px 0;

                a {
                    width: 150px;
                    text-align: center;
                    margin: 10px 0;
                    padding: 10px;
                    color: white;
                    font-weight: 700;
                }

            }
        }

        #mobile-menu-open {
            position: absolute;
            right: 25px;
            top: 21px;
            z-index: 1;

            div {
                width: 25px;
                height: 3px;
                background-color: #ffffff;
                margin: 6px 0;
                border-radius: 25px;
            }
        }

        #mobile-menu-close {
            height: 30px;
            width: 30px;
            position: absolute;
            top: 23px;
            right: 23px;

            div {
                width: 30px;
                height: 3px;
                background-color: #ffffff;
                margin: 6px 0;
                border-radius: 25px;
            }

            div:nth-child(1) {
                transform: rotate(45deg);
                position: relative;
                top: 7px;
                right: 0px;
            }

            div:nth-child(2) {
                transform: rotate(-45deg);
                position: relative;
                left: 0px;
                top: -2px;
            }

        }

        #opacity-bg {
            position: fixed;
            z-index: 888;
            height: 100vh;
            width: 100vw;
            background-color: #3531482b;
            backdrop-filter: blur(5px);
            top: 0;
            left: 0;
            display: none;
            // transition: 0.3s;
        }
    }

    #hero {
        width: 98%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 auto;

        .hero-header {

            h1 {
                font-size: clamp(2.75em, 12vw, 4em);
                width: auto;
                text-align: center;
                font-weight: 700;
                margin: 25px 0;
            }

            p {
                padding: 0 5vw;
                text-align: center;
                max-width: 500px;
                margin-bottom: 25px;
            }

            // Buttons
            div {
                display: flex;
                flex-direction: row;
                padding: 5px;
                justify-content: center;
                z-index: 5;

                .btn:nth-child(1) {
                    padding: 5px 15px;
                    background-color: #ffcc00;
                    border-color: 1px solid lightgray;
                    box-shadow: $box-shadow;
                    border-radius: 7.5px;
                    margin: 0 10px 0 10px;
                    min-width: 100px;
                    text-align: center;
                }

                .btn:nth-child(2) {
                    text-align: center;
                    min-width: 100px;
                    padding: 5px 15px;
                    border-radius: 7.5px;
                    margin: 0 10px 0 10px;
                    box-shadow: $box-shadow;
                    background-color: white;
                }

            }
        }

        .hero-img {
            display: none;
        }
    }

    .index-guy {
        width: 100vw;
        padding-top: 25px;
    }

    .index-guy-desktop {
        display: none;
    }
}


// min width of 768px 
@media only screen and (min-width: 48em) {


    .navbarBG {
        width: calc(55vw + 10vw);
        float: right;
        height: auto;
    }

    nav {
        .logo {
            position: absolute;
            background-image: url('./images/logo-index.png');
            background-repeat: no-repeat;
            top: 25px;
            left: 3vw;
            background-size: 300px 88px;
            height: 88px;
            width: 300px;
        }

        #mobile-menu-open {
            position: absolute;
            right: 35px;
            top: 31px;
            z-index: 1;

            div {
                width: 25px;
                height: 3px;
                background-color: #ffffff;
                margin: 6px 0;
                transition: 0.3s;
                border-radius: 25px;
            }
        }

        #mobile-menu-close {
            height: 30px;
            width: 30px;
            position: absolute;
            top: 33px;
            right: 33px;

            div {
                width: 30px;
                height: 3px;
                background-color: #ffffff;
                margin: 6px 0;
                transition: 0.4s;
                border-radius: 25px;
            }

            div:nth-child(1) {
                transform: rotate(45deg);
                position: relative;
                top: 7px;
                right: 0px;
            }

            div:nth-child(2) {
                transform: rotate(-45deg);
                position: relative;
                left: 0px;
                top: -2px;
            }

        }

    }

    #hero {
        width: 100vw;
        display: block;
        position: relative;
        left: 3vw;
        margin: 0 auto;
        display: flex;
        flex-direction: column;

        .hero-header {

            h1,
            p {
                position: relative;
                padding: 0;
                z-index: 2;
                width: 100%;
                margin: 25px auto;
            }
        }

        .hero-img {
            display: block;

            img {
                position: absolute;
                display: block;
                top: 0;
                left: 450px;
                z-index: 9999;
                width: 450px;
                height: 400px;
                z-index: 1;
            }
        }
    }

    .btn {
        padding: 10px;
        margin: 0 20px 0 0px !important;
    }

}

// min width of 1024px 
@media only screen and (min-width: 64em) {
    nav {
        .logo {
            position: absolute;
            background-image: url('./images/logo-index.png');
            background-repeat: no-repeat;
            top: 50px;
            left: 5vw;
            background-size: 350px 102px;
            height: 102px;
            width: 300px;
        }

        #navbar-links {
            position: absolute;
            z-index: 999;
            right: 0;
            top: 40px;
            background-color: #35314800;

            display: flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            color: white;
            width: 50vw;
            height: auto;
            margin-right: 5vw;
            text-align: center;

            li {
                display: flex;
                justify-content: center;

                a {
                    width: auto;
                    text-align: center;
                    margin: 10px;
                    padding: 10px 25px;
                    color: white;
                    font-weight: 700;
                }
            }
        }

        // items
        #navbar-links {

            .home {
                text-decoration: underline;
                text-underline-position: under;
                text-decoration-color: #38c6e5;
                text-decoration-thickness: 0.2vw;

                a {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: #38c6e5;
                    text-decoration-thickness: 0.2vw;
                }
            }

            .about {
                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: #7fd378;
                    text-decoration-thickness: 0.2vw;
                }
            }

            .services {
                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: #804dd4;
                    text-decoration-thickness: 0.2vw;
                }
            }

            .blog {
                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: #e38025;
                    text-decoration-thickness: 0.2vw;
                }
            }

            .contact {
                position: relative;

                a {
                    position: relative;
                    color: #000000;
                    background-color: #ffcc00;
                    border-radius: 7.5px;
                    box-shadow: $box-shadow;
                    text-shadow: none;

                    &:hover {
                        color: white;
                        text-decoration: none;
                        box-shadow: 1px 1px 25px rgba(135, 195, 223, 0.25);
                        text-shadow: 1px 1px 5px #3f3b51;
                    }
                }
            }

        }
    }


    #hero {

        width: 100vw;
        left: 0;
        display: flex;
        flex-direction: column;


        .hero-header h1,
        p {
            text-align: left !important;
        }

        .index-guy-desktop {
            position: absolute;
            display: block;
            width: 200px;
        }
    }

    #mobile-menu-open,
    #mobile-menu-close {
        display: none;
    }


}

@media only screen and (min-width: 1300px) {}