@import url('./core.css');

@media only screen and (min-width: 0em) {
    .navbarBG {
        width: 100vw;
        height: 110px;
        margin-bottom: 50px;
    }

    nav {
        background-color: #353148;
        height: auto;

        .logo {
            position: absolute;
            background-image: url('./images/logo-index-white.png');
            background-repeat: no-repeat;
            top: 4px;
            left: 4px;
            background-size: 250px 77px;
            height: 100px;
            width: 100vw;
        }

        #navbar-links {
            position: fixed;
            z-index: 2;
            right: 0;
            top: 0;
            width: 0; //250px on open
            height: 100vh;
            background-color: #353148;
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: white;
            transition: 0.3s;

            li {
                padding: 15px;
                margin: 10px;
                width: 100%;
                display: flex;
                justify-content: center;

                a {
                    color: white;
                    font-weight: 700;
                }
            }
        }

        #mobile-menu-open {
            position: absolute;
            right: 25px;
            top: 17px;
            z-index: 1;

            div {
                width: 25px;
                height: 3px;
                background-color: #ffffff;
                margin: 6px 0;
                transition: 0.4s;
                border-radius: 25px;
            }
        }

        #mobile-menu-close {
            height: 30px;
            width: 30px;
            position: absolute;
            top: 19px;
            right: 34px;

            div {
                width: 30px;
                height: 3px;
                background-color: #ffffff;
                margin: 6px 0;
                transition: 0.4s;
                border-radius: 25px;
            }

            div:nth-child(1) {
                transform: rotate(45deg);
                position: relative;
                top: 7px;
                right: 0px;
            }

            div:nth-child(2) {
                transform: rotate(-45deg);
                position: relative;
                left: 0px;
                top: -2px;
            }

        }

        #opacity-bg {
            position: fixed;
            height: 100vh;
            width: 100vw;
            background-color: #35314871;
            backdrop-filter: blur(5px);
            top: 0;
            left: 0;
            display: none;
            transition: 0.3s;
        }
    }

    #hero {
        margin: 0 auto;
        width: 90%;
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 25px;

        h1 {
            font-size: clamp(2.5em, 10vw, 4em);
            width: auto;
            text-align: center;
            font-weight: 700;
            margin: 25px 0;
        }

        p {
            text-align: center;
            max-width: 600px;
        }
    }

    .laptop-guy {
        width: 100%;
        margin-top: 50px;
    }
}

// 768px - Tablet
@media only screen and (min-width: 48em) {

    header {
        background-image: url('./images/indexFull.webp');
        background-size: 100vw;
        background-repeat: no-repeat;
    }

    .navbarBG {
        display: none;
    }

    nav {
        .logo {
            position: absolute;
            background-image: url('./images/logo-index.png');
            background-repeat: no-repeat;
            top: 10px;
            left: 10px;
            background-size: 240px 70px;
            height: 70px;
            width: 100vw;
        }
    }

}




@media only screen and (min-width: 64em) {
    // 1024px - Desktops
}

@media only screen and (min-width: 1300px) {}