@media only screen and (min-width: 0px) {
  .navbarBG {
    width: 100vw;
    height: 120px;
    margin-bottom: 15px;
  }
  nav {
    background-color: #353148;
    height: auto;
  }
  nav .logo {
    position: absolute;
    background-image: url("./images/logo-index-white.png");
    background-repeat: no-repeat;
    top: 8px;
    left: 5px;
    background-size: 250px 77px;
    height: 85px;
    min-width: 205px;
  }
  nav .navbar-links {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    width: 0;
    height: 100vh;
    background-color: #353148;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: width 0.3s;
  }
  nav .navbar-links li {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 15px 0;
  }
  nav .navbar-links li a {
    width: 150px;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    color: white;
    font-weight: 700;
  }
  nav #mobile-menu-open {
    position: absolute;
    right: 25px;
    top: 21px;
    z-index: 1;
  }
  nav #mobile-menu-open div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    border-radius: 25px;
  }
  nav #mobile-menu-close {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 23px;
    right: 23px;
  }
  nav #mobile-menu-close div {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    border-radius: 25px;
  }
  nav #mobile-menu-close div:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
    right: 0px;
  }
  nav #mobile-menu-close div:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    left: 0px;
    top: -2px;
  }
  nav #opacity-bg {
    position: fixed;
    z-index: 888;
    height: 100vh;
    width: 100vw;
    background-color: rgba(53, 49, 72, 0.168627451);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    display: none;
  }
  #hero {
    width: 98%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
  }
  #hero h1 {
    font-size: clamp(2.75em, 12vw, 4em);
    width: auto;
    text-align: center;
    font-weight: 700;
    margin: 25px 0;
  }
  #hero p {
    padding: 0 5vw;
    text-align: center;
    max-width: 500px;
    margin-bottom: 25px;
  }
  #hero div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    z-index: 5;
  }
  #hero div .btn:nth-child(1) {
    padding: 5px 15px;
    background-color: #ffcc00;
    border-color: 1px solid lightgray;
    box-shadow: 1px 1px 3px rgba(63, 59, 81, 0.2509803922), 1px -1px 3px rgba(63, 59, 81, 0.2509803922), -1px 1px 3px rgba(63, 59, 81, 0.2509803922), -1px -1px 3px rgba(63, 59, 81, 0.2509803922);
    border-radius: 7.5px;
    margin: 0 10px 0 10px;
    min-width: 100px;
    text-align: center;
  }
  #hero div .btn:nth-child(2) {
    text-align: center;
    min-width: 100px;
    padding: 5px 15px;
    border-radius: 7.5px;
    margin: 0 10px 0 10px;
    box-shadow: 1px 1px 3px rgba(63, 59, 81, 0.2509803922), 1px -1px 3px rgba(63, 59, 81, 0.2509803922), -1px 1px 3px rgba(63, 59, 81, 0.2509803922), -1px -1px 3px rgba(63, 59, 81, 0.2509803922);
    background-color: white;
  }
  .hero-blob {
    width: 100%;
    padding-top: 25px;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1023px) {
  .navbarBG {
    width: 65vw;
    float: right;
    height: auto;
  }
  nav .logo {
    position: absolute;
    background-image: url("./images/logo-index.png");
    background-repeat: no-repeat;
    top: 25px;
    left: 3vw;
    background-size: 300px 88px;
    height: 88px;
    width: 300px;
  }
  nav #mobile-menu-open {
    position: absolute;
    right: 35px;
    top: 31px;
    z-index: 1;
  }
  nav #mobile-menu-open div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.3s;
    border-radius: 25px;
  }
  nav #mobile-menu-close {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 33px;
    right: 33px;
  }
  nav #mobile-menu-close div {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 25px;
  }
  nav #mobile-menu-close div:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
    right: 0px;
  }
  nav #mobile-menu-close div:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    left: 0px;
    top: -2px;
  }
  #hero {
    width: 100vw;
    display: block;
    position: relative;
    left: 3vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  #hero h1,
  #hero p {
    position: relative;
    padding: 0;
    z-index: 2;
    width: 100%;
  }
  .btn {
    padding: 10px;
    margin: 0 20px 0 0px !important;
  }
}
@media only screen and (min-width: 1024px) {
  .navbarBG {
    width: 65vw;
    float: right;
    height: auto;
  }
  nav .logo {
    position: absolute;
    background-image: url("./images/logo-index.png");
    background-repeat: no-repeat;
    top: 50px;
    left: 5vw;
    background-size: calc(350px + 1vw) calc(102px + 1vw);
    height: calc(102px + 1vw);
    width: calc(350px + 1vw);
  }
  nav .navbar-links {
    position: absolute;
    z-index: 999;
    right: 0;
    top: 40px;
    background-color: rgba(53, 49, 72, 0);
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    color: white;
    width: 50vw;
    height: auto;
    margin-right: 5vw;
    text-align: center;
  }
  nav .navbar-links li {
    display: flex;
    justify-content: center;
  }
  nav .navbar-links li a {
    width: auto;
    text-align: center;
    margin: 10px;
    padding: 10px 25px;
    color: white;
    font-weight: 700;
  }
  nav .navbar-links .home {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #38c6e5;
    text-decoration-thickness: 0.2vw;
  }
  nav .navbar-links .home a {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #38c6e5;
    text-decoration-thickness: 0.2vw;
  }
  nav .navbar-links .about:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #7fd378;
    text-decoration-thickness: 0.2vw;
  }
  nav .navbar-links .services:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #804dd4;
    text-decoration-thickness: 0.2vw;
  }
  nav .navbar-links .blog:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #e38025;
    text-decoration-thickness: 0.2vw;
  }
  nav .navbar-links .contact {
    position: relative;
  }
  nav .navbar-links .contact a {
    position: relative;
    color: #000000;
    background-color: #ffcc00;
    border-radius: 7.5px;
    box-shadow: 1px 1px 3px rgba(63, 59, 81, 0.2509803922), 1px -1px 3px rgba(63, 59, 81, 0.2509803922), -1px 1px 3px rgba(63, 59, 81, 0.2509803922), -1px -1px 3px rgba(63, 59, 81, 0.2509803922);
    text-shadow: none;
  }
  nav .navbar-links .contact a:hover {
    color: white;
    text-decoration: none;
    box-shadow: 1px 1px 25px rgba(135, 195, 223, 0.25);
    text-shadow: 1px 1px 5px #3f3b51;
  }
  #hero {
    margin: 0;
    padding: 0;
    display: block;
    position: static;
  }
  #hero {
    display: flex;
    height: 500px;
    flex-direction: row;
    justify-content: space-around;
    position: relative;
  }
  #hero .hero-header h1,
  #hero .hero-header P {
    text-align: left;
    width: auto;
  }
  #mobile-menu-open,
  #mobile-menu-close {
    display: none;
  }
}/*# sourceMappingURL=hero.css.map */