@media only screen and (min-width: 0px) {
  .navbarBG {
    width: 100%;
    height: 120px;
    margin-bottom: 10px;
  }
  nav {
    background-color: #353148;
    height: auto;
  }
  nav .logo {
    position: absolute;
    background-image: url("./images/Logo-white.png");
    background-repeat: no-repeat;
    top: 11px;
    left: 9px;
    background-size: 225px 75px;
    min-width: 225px;
    height: 75px;
  }
  nav #navbar-links {
    position: fixed;
    z-index: 999;
    right: 0;
    top: 0;
    width: 0;
    height: 100vh;
    background-color: #353148;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    transition: width 0.3s;
  }
  nav #navbar-links li {
    width: 100%;
    display: flex;
    justify-content: center;
    margin: 10px 0;
  }
  nav #navbar-links li a {
    width: 150px;
    text-align: center;
    margin: 10px 0;
    padding: 10px;
    color: white;
    font-weight: 700;
  }
  nav #mobile-menu-open {
    position: absolute;
    right: 25px;
    top: 21px;
    z-index: 5;
    cursor: pointer;
  }
  nav #mobile-menu-open div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    border-radius: 25px;
  }
  nav #mobile-menu-close {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 23px;
    right: 23px;
  }
  nav #mobile-menu-close div {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    border-radius: 25px;
  }
  nav #mobile-menu-close div:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
    right: 0px;
  }
  nav #mobile-menu-close div:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    left: 0px;
    top: -2px;
  }
  nav #opacity-bg {
    position: fixed;
    z-index: 888;
    height: 100vh;
    width: 100vw;
    background-color: rgba(53, 49, 72, 0.168627451);
    -webkit-backdrop-filter: blur(5px);
            backdrop-filter: blur(5px);
    top: 0;
    left: 0;
    display: none;
  }
  #hero {
    position: relative;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0 auto;
    height: 100%;
  }
  #hero h1 {
    font-size: clamp(2.5em, 12vw, 4em);
    width: auto;
    text-align: center;
    font-weight: 700;
    margin: 25px 0;
  }
  #hero p {
    padding: 0 5vw;
    text-align: center;
    max-width: 500px;
    margin-bottom: 25px;
  }
  #hero div {
    display: flex;
    flex-direction: row;
    padding: 5px;
    justify-content: center;
    z-index: 5;
    margin-bottom: 25px;
  }
  #hero div .btn:nth-child(1) {
    padding: 5px 15px;
    background-color: #ffcc00;
    border-color: 1px solid lightgray;
    box-shadow: 1px 1px 3px rgba(63, 59, 81, 0.2509803922), 1px -1px 3px rgba(63, 59, 81, 0.2509803922), -1px 1px 3px rgba(83, 73, 124, 0.2509803922), -1px -1px 3px rgba(63, 59, 81, 0.2509803922);
    border-radius: 7.5px;
    margin: 0 10px 0 10px;
    min-width: 100px;
    text-align: center;
  }
  #hero div .btn:nth-child(2) {
    text-align: center;
    min-width: 100px;
    padding: 5px 15px;
    border-radius: 7.5px;
    margin: 0 10px 0 10px;
    box-shadow: 1px 1px 3px rgba(63, 59, 81, 0.2509803922), 1px -1px 3px rgba(63, 59, 81, 0.2509803922), -1px 1px 3px rgba(83, 73, 124, 0.2509803922), -1px -1px 3px rgba(63, 59, 81, 0.2509803922);
    background-color: white;
  }
  #hero .hero-blob {
    width: 100%;
  }
}
@media only screen and (min-width: 768px) and (max-width: 1299px) {
  .navbarBG {
    width: 65vw;
    float: right;
    height: auto;
  }
  nav .logo {
    position: absolute;
    background-image: url("./images/logo-index.png");
    background-repeat: no-repeat;
    top: 25px;
    left: 3vw;
    background-size: 250px 83px;
    height: 83px;
    width: 250px;
  }
  nav #mobile-menu-open {
    position: absolute;
    right: 35px;
    top: 31px;
    z-index: 1;
  }
  nav #mobile-menu-open div {
    width: 25px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.3s;
    border-radius: 25px;
  }
  nav #mobile-menu-close {
    height: 30px;
    width: 30px;
    position: absolute;
    top: 33px;
    right: 33px;
  }
  nav #mobile-menu-close div {
    width: 30px;
    height: 3px;
    background-color: #ffffff;
    margin: 6px 0;
    transition: 0.4s;
    border-radius: 25px;
  }
  nav #mobile-menu-close div:nth-child(1) {
    transform: rotate(45deg);
    position: relative;
    top: 7px;
    right: 0px;
  }
  nav #mobile-menu-close div:nth-child(2) {
    transform: rotate(-45deg);
    position: relative;
    left: 0px;
    top: -2px;
  }
  #hero {
    width: 100%;
    display: block;
    position: relative;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
  }
  #hero h1,
  #hero p {
    position: relative;
    padding: 0;
    z-index: 2;
    width: 100%;
  }
  .btn {
    padding: 10px;
    margin: 0 20px 0 0px;
  }
}
@media only screen and (min-width: 1300px) {
  .navbarBG {
    float: right;
    width: 65vw;
    height: auto;
    z-index: 1;
  }
  nav {
    height: 175px;
    background-color: transparent;
    z-index: 1;
    position: static;
  }
  nav::before {
    position: absolute;
    content: "";
    z-index: 5;
    right: calc(0px + 0.5vw);
    top: calc(25px + 10vw);
    background-image: url("./images/hero-guy.png");
    background-size: calc(700px + 5vw) calc(600px + 5vw);
    background-repeat: no-repeat;
    height: calc(700px + 5vw);
    width: calc(800px + 5vw);
    display: block;
    overflow-x: hidden;
  }
  nav .logo {
    background-image: url("./images/logo-index.png");
    background-repeat: no-repeat;
    top: calc(27px + 2vw);
    left: 5vw;
    background-size: 325px 108px;
    width: 325px;
    height: 108px;
    z-index: 25;
  }
  nav #navbar-links {
    position: absolute;
    z-index: 5;
    top: calc(40px + 2vw);
    display: flex;
    flex-direction: row;
    color: white;
    width: auto;
    height: auto;
    right: 4vw;
  }
  nav #navbar-links li {
    margin: 0 clamp(10px, 1.5vw, 75px);
    width: auto;
    padding: 0 10px;
  }
  nav #navbar-links li a {
    width: auto;
    margin: 0 10px;
    color: white;
    font-weight: 700;
  }
  nav #navbar-links {
    background-color: transparent;
  }
  nav #navbar-links .home {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #38c6e5;
    text-decoration-thickness: 4px;
  }
  nav #navbar-links .home a {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #38c6e5;
    text-decoration-thickness: 4px;
  }
  nav #navbar-links .about:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #7fd378;
    text-decoration-thickness: 4px;
  }
  nav #navbar-links .services:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #804dd4;
    text-decoration-thickness: 4px;
  }
  nav #navbar-links .blog:hover {
    text-decoration: underline;
    text-underline-position: under;
    text-decoration-color: #e38025;
    text-decoration-thickness: 4px;
  }
  nav #navbar-links .contact a {
    color: #000000;
    background-color: #ffcc00;
    border-radius: 12.5px;
    padding: 10px 20px;
  }
  nav #navbar-links .contact a:hover {
    color: white;
    text-decoration: none;
  }
  .hero-blob {
    display: none;
  }
  #hero {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: start;
    margin-top: calc(1px + 8vw);
    z-index: 5;
    height: 800px;
  }
  #hero::after {
    content: "";
    position: absolute;
    bottom: 0;
    z-index: -1;
    background-image: url("./images/hero-blob-desktop.png");
    background-size: cover;
    background-repeat: no-repeat;
    width: 100vw;
    height: 500px;
    display: block;
    overflow-x: hidden;
  }
  #hero h1 {
    position: relative;
    font-size: clamp(1.75em, 5vw, 5em);
    padding: 0;
    text-align: left;
    width: auto;
    z-index: 5;
    left: 5vw;
  }
  #hero P {
    position: relative;
    padding: 0;
    text-align: left;
    width: auto;
    z-index: 5;
    left: 5vw;
  }
  #hero div {
    position: relative;
    margin-left: -13px;
    z-index: 5;
    left: 5vw;
  }
  #mobile-menu-open,
  #mobile-menu-close {
    display: none;
  }
}/*# sourceMappingURL=hero.css.map */