////////////////////////////
//      HOME - PAGE       //
////////////////////////////

@media screen and (min-width: 900px) {
    header {
        background-image: url("./images/indexFull.webp");
        background-size: contain;
        background-repeat: no-repeat;
        min-width: 100%;
        height: 100vw;
        position: relative;
    }

    .navbar-container {
        position: relative;
        max-width: 90%;
        margin: 0 auto;
        .navbar-logo {
            position: absolute;
            top: max(25px, 2vw);
            left: 3vw;
            background-image: url("./images/logo-index.png");
            background-size: contain;
            background-repeat: no-repeat;
            margin-top: 10px;
            width: 20vw;
            height: calc(250px + 10vw);
        }

        .navbar-links {
            position: absolute;
            top: max(4vw, 35px);
            right: 3vw;
            list-style: none;
            display: flex;
            justify-content: space-evenly;
            margin-top: 10px;
            width: 50%;
            height: 40px;
            //-----------------------------//
            //      Navigation Menu        //
            //-----------------------------//
            .home {
                text-decoration: underline;
                text-underline-position: under;
                text-decoration-color: #38C6E5;
                text-decoration-thickness: 0.2vw;
            }
            .about {
                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: #7fd378;
                    text-decoration-thickness: 0.2vw;
                }
            }
            .services {
                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: #804dd4;
                    text-decoration-thickness: 0.2vw;
                }
            }
            .blog {
                &:hover {
                    text-decoration: underline;
                    text-underline-position: under;
                    text-decoration-color: #e38025;
                    text-decoration-thickness: 0.2vw;
                }
            }
            .contact {
                position: relative;
                a {
                    position: relative;
                    color: #000000;
                    z-index: 1;
                    background-color: #ffcc00;

                    border-radius: 7.5px;
                    box-shadow: 2px 2px 2px black;
                    text-shadow: none;
                    &:hover {
                        color: #ffffff;
                        text-decoration: none;
                    }
                }
            }
            li {
                font-size: max(0.85rem, 1.25vw);
                a {
                    text-decoration: none;
                    color: white;
                    padding: 0.75vw 1.5vw;
                    text-shadow: 2px 2px 2px black;
                    .home a {
                        text-decoration: underline;
                        text-underline-position: under;
                        text-decoration-color: #38c6e5;
                        text-decoration-thickness: 0.2vw;
                    }
                }
            }
        }

    }

    .header-text {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        top: calc(15vw + 50px);
        left: 8vw;
        width: 100%;
        background-color: rgba(255, 0, 0, 0.192);
        height: auto;
        h1 {
            margin: 0;
            font-size: clamp(30px, 4vw, 40rem);
            width: auto;
        }
        p {
            margin: 35px 0 ;
            font-size: clamp(1em, 18px, 4em);
            line-height: 1.75em;
        }
    }
}

@media screen and (max-width: 1023px) {

}
