@media screen and (min-width: 0px) {

    #what-we-do-section {
        background-color: #3F3B51;
        position: absolute;
        margin-top: -5px;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;

        .header {
            margin-bottom: 50px;
            width: 92vw;

            h1 {
                font-size: clamp(2.5em, 10vw, 4em);
                width: auto;
                text-align: center;
                font-weight: 700;
                margin: 53px 0 15px;
                color: white;

                span {
                    color: #38C6E5;
                }
            }

            p {
                text-align: center;
                color: white;
                margin: 0 auto;
                max-width: 500px;
            }
        }

        .what-we-do-items {
            width: 86%;
            margin: 0 auto;
            display: flex;
            flex-direction: column;

            .item {
                display: flex;
                flex-direction: column;
                justify-content: center;

                img {
                    margin: 0 auto 15px;
                    width: calc(100px + 5vw);
                }

                h2 {
                    color: white;
                    line-height: 1.5;
                    text-align: center;
                }
                
                p {
                    text-align: center;
                    color: white;
                    max-width: 450px;
                }
            }
        }
    }

}


@media only screen and (min-width: 0em) {}

@media only screen and (min-width: 48em) {}

@media only screen and (min-width: 64em) {}

@media only screen and (min-width: 1300px) {}